<body>
		<div id="content">
			<img src="assets/PS_Index.svg" id="logo" alt="logo">
			<div id="input">
				<p id="error_message">Enter a valid username.</p>
				<p class="in">Email: <input class="log" type="text" id="username"></p>
				<p class="in">Password: <input class="log" type="password" id="pass"></p>
				<p id="remember_me">
					<input type="checkbox" id="remember_me2" value="remember-me">
					<label for="remember_me2">Remember Me</label>
				</p>
				<input type="button" id="logon" value="Submit" (click)="login();">
				<p id="note">*Use the email and password you used to purchase your subscription.</p>
			</div>
		</div>
	</body>